<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF=8">
  <title>Puppy</title>
</head>
<body>
     <p>puppy name: <%= @name %> </p>
     <p>puppy breed: <%= @breed %> </p>
     <p>puppy age: <%= @age %> </p>

</body>

</html>
